

	<% @allauctions.each do |auction| %>
	<div class="span3 well">
		<%= auction.name %><br />
			<%= "Reserve: $#{auction.reserve} Current Price: $#{auction.price}"%>
			<br />
				<%="ID: #{auction.id} "%>
				<br />

<%= form_for [auction, auction.bids.build] do |f| %>
  <%= f.label :amount %>
  <%= f.text_field :amount %><br />
  <%= f.submit %>
<% end %>

<% auction.bids.each do |bid| %>
	<%= "User: #{bid.user_id} Amount: #{bid.amount}" %><br />
	  	<% end %>
			</div>
  	<% end %>
</form>