<div class="hero-unit">
	<h2>
Current Auctions
</h2>
</div>

<% if params["message"] != nil and params["message"] == "Unsuccessfull Bid" then %>
	<div class="label label-important">
	<br />
	<%="#{params["message"]}: #{params["message_description"]}" %>
	<br /><br /> 
	</div>
<% end %>

<% else if params["message"] != nil and params["message"] != "Unsuccessfull Bid"%>
	<div class="label label-success">
		<br />
		<%="#{params["message"]}" %>
		<br /><br />
	</div>
<% end %>
<div>
	<% @allauctions.each do |auction| %>
		<div class="span3 well">
			<h3><%= button_to("delete", auction_url(auction.id), method: "delete") %><%= auction.name %></h3>
			<% if auction.category_id != 0 and auction.category_id != nil then%>
			<%= "Category: #{Category.find(auction.category_id).name}" %>

			<%end%>
			<span class="label label-success"><%= auction.state%></span>

			
			<br />
				<%= "Reserve: $#{auction.reserve} Current Price: $#{auction.price}"%>
				<%= "Buynow: $#{auction.buynow}"%>
				<br />
					<%="ID: #{auction.id} "%>
					<br />
			<%= form_for [auction, auction.bids.build] do |f| %>
			  <%= f.label :amount %>
			  <%= f.text_field :amount %><br />
			  <%= f.submit %>
			<% end %>

			<% auction.bids.reverse.each do |bid| %>
			<%if bid.id != nil then %>
				<%= "User: #{bid.user_id} Amount: #{bid.amount} " %>
					<% if bid.state == "trailing" then%>
						<span class="label label-important">
						<%= bid.state %>
						</span>
					<% else %>
						<span class="label label-success">
						<%= bid.state %>
						</span>
					<% end %>
				<br />	
			<% end %>
				<% end %>
		</div>

	<%end%>

</div>
